{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'Dashboard/styles/dashstyles/dashboard.css' %}">
</head>
<body>
    <nav>
        <div class="container">
            <ul>
                <li><a href="#">SwahiliPot Hub</a></li>
                <li><a href="#">Activities</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="{% url 'signin_page' %}">Sign Out</a></li>
            </ul>
        </div>
    </nav>
<main>
    <div class="container">
        <!-- Main content goes here -->
        <section>
            <h2>Welcome to the Dashboard</h2>
            <p>This is the main content area of the dashboard.</p>
        </section>
    </div>
</main>

</body>
</html>



