{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwahiliPot Hub</title>
    <link rel="stylesheet" href="{% static 'Dashboard/styles/common.css' %}">
    <link rel="stylesheet" href="{% static 'Dashboard/styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'Dashboard/styles/head.css' %}">  
</head>
<body>

<header>
    <div class="container">
        <h1>Naweza-Dash</h1>
        <nav>
            <ul>
                <li><a href="{% url 'signin_page' %}">Sign In</a></li>
            </ul>
        </nav>
    </div>
</header>
<section class="content">
    <div class="story">
        <h2>NAWEZA DASHBOARD</h2>
        <p>Welcome to Naweza-Dash, the gateway to your journey of personal and professional 
        development at swahilipot hub.Our platform is designed to empower individuals by providing access to a friendly DASHBOARD 
        equiped with diverse range of educational resources, opportunities and activities at our HUB</p>
        <p>At Naweza-Dash, we believe that every individual has the potential to achieve greatness, and with the right tools and support, that potential can be unlocked. Whether you're looking to enhance your skills, explore new interests, or embark on a transformative learning experience, Naweza-Dash is here to guide you every step of the way.</p>

    </div>
    <div class="graphs-bars">
        <img src="/static/Dashboard/images/dash-image.jpg" alt="Description of the image">
    </div>
</section>
<footer>
    <div class="container">
        <p>&copy; 2024 SwahiliPot Hub Foundation. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
